@import '../helpers/breakpoints';

.about-block{
	font-size: 24px;
	background-image: url('/img/about/about-bg.jpg');
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	height: 90vh;
	padding: 0px !important;


	&__left{
		background-color: #fff;
		width: 65%;
		padding: 2em 0em 2em 14em;

		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;

		height: 100%;

		background: linear-gradient(to right,#fff 10%,transparent);

	}	


	&__title{
		font-family: 'Proxima Nova Bold';
		font-size: 1.8em;
		margin:12px 0px; 
	}


	&__text{
		font-family: 'Proxima Nova Semibold';
		margin:12px 0px; 
		font-size: .8em;
		line-height: 1.4em;
		width: 45%;
	}

	&__button{
		margin:2.8em 0px; 
		border:0px;
		color:#fff;
		background-color: $accent;
		padding: .5em 3.2em;
		font-size: .8em; 
		
		font-family: 'Proxima Nova Bold';

		border: 1px solid #fff;
		transition: all .3s ease-in-out;
		color:#fff;

		&:hover, &:focus{
			text-decoration: none;
			color:$accent;
			border: 1px solid $accent;
			background-color: #fff;
		}

				
	}

}

@include adaptive-xl{
	.about-block{
		font-size: 18px;
	
	}
}

@include adaptive-xl{
	.about-block{
		font-size: 16px;
	
	}
}

@include adaptive-m{
	.about-block{
		font-size: 14px;
	
	}
}


@include adaptive-s{
	.about-block{
		font-size: 12px;

		&__left{
     		padding: 2em 0em 2em 10em;
		}
	
	}
}

@include adaptive-767{
	.about-block{
		&__left{
			width: 100%;
     		background: linear-gradient(to bottom,#fff 50%,transparent);
     		padding: 4em 0em;

     		display: flex;
     		flex-direction:column;
     		align-items:center;
     		justify-content:flex-start;
		}
	
	}
}

@include adaptive-480{
	.about-block{
		font-size: 14px;

		&__left{
			width: 100%;
     		background: linear-gradient(to bottom,#fff 50%,transparent);
     		padding: 4em 0em;

     		display: flex;
     		flex-direction:column;
     		align-items:center;
     		justify-content:flex-start;
		}

		&__text{
			font-size: 1em;
			text-align: left;
		}
	
	}
}

@include adaptive-360{
	.about-block{
		font-size: 10px;

		&__left{

		}
	
	}
}