@import '../helpers/breakpoints';

.about-project{
	font-size: 16px;
	position: relative;

	&__title{
		font-family: 'Proxima Nova Bold';
		font-size: 1.3em;
		position: relative;


		&:after{
			content: '';
		    position: absolute;
		    left: 0; bottom: -7px;
		    height: 4px;
		    background-color: $accent;
		    width: 8%;
		    transition: width .25s;
		    margin: 20px auto 0px auto;
		}		
	}

	&__text{
		font-family: 'Proxima Nova Regular';
		margin: 3em 0px;
		font-size: 1.2em;
	}
}

@include adaptive-m{
	.about-project{
		font-size: 14px;
	}
}

@include adaptive-767{
	.about-project{
		font-size: 12px;
	}
}

@include adaptive-480{
	.about-project{
		font-size: 12px;

		&__title{
			&:after{
				width: 12%;
			}
		}
	}
}

@include adaptive-360{
	.about-project{
		&__title{
			&:after{
				width: 15%;
			}
		}
	}
}

@include adaptive-xs{
	.about-project{
		&__title{
			&:after{
				width: 18%;
			}
		}
	}
}