@import '../helpers/breakpoints';

.about-text{
	font-size: 24px;
	height: 80vh;
	position: relative;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;

	background-color: #ebebeb !important;


	&__left{
		background-image: url('/img/main2bk.png');
		background-size: 80% 70%;
		background-position: bottom;
		background-repeat: no-repeat;

		height: 60vh;
		z-index: 999;
		margin-top: 2em;

		width: 50%;

		position: relative;

		img{
			width: 80%;
			height: auto;
			object-fit:cover;
		}
	}

	&__right{
		padding: 2.5em 0em 2.5em 12em !important;
		background-color: #fff;
		width: 65% ;
		margin-left: -15%;
		margin-right: -150px; 

		height: auto;


	}

	&__title{
		font-family: 'Proxima Nova Bold';
		font-size: 1.2em;
		width: 80%;

	}

	&__text{
		font-family: 'Proxima Nova SemiBold';
		font-size: .9em;
		width: 80%;
	}
}


@include adaptive-xl{
	.about-text{
		font-size: 18px;
	
	}
}

@include adaptive-xl{
	.about-text{
		font-size: 16px;
	
	}
}

@include adaptive-m{
	.about-text{
		font-size: 14px;
	
	}
}

@include adaptive-s{
	.about-text{
		font-size: 12px;
	
	}
}

@include adaptive-767{
	.about-text{

		&__left{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
			background-image: none;
			margin-top: 0em;

		}
	
	}
}

@include adaptive-480{
	.about-text{
		font-size: 16px;

			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;

			height: auto;


		&__left{
			background: none;
			width: 100%;
			height: auto;

			padding: 0em 0em 0em 0em;
			margin-top: 0em;

			img{
				width: 100%;
				height: 180px;
			}
		}

		&__right{
			padding: 1em !important;
			width: 100%;
			margin: 0 auto;
		}

		&__text{
			width: 100%;
		}
	
	}
}

@include adaptive-360{
	.about-text{
		font-size: 10px;
		flex-direction:column;
		align-items:center;


		&__left{
			background: none;
			width: 100%;
		}

		&__right{
			width: 100%;
			margin: 0px;
		}
	
	}
}