@import '../helpers/breakpoints';

.build-block{
	font-size: 16px;
	margin-bottom: 4em;

	&__title{
		font-size: 1.5em;
		font-family: 'Proxima Nova Bold';
	}

	&__item-wrap{
		border:4px solid $grey;
		padding: 1.5em 4em;
		margin: 1.5em 0px;

		display: flex;
		flex-direction:row;
		align-items:flex-start;
		justify-content:center;
	}	


	&__item{


		&-title{
			font-size: 1.2em;
			margin: .3em 0em;
			font-family: 'Proxima Nova Bold';
		}

		&-annotation{
			font-size: 1em;
			margin: .2em;
			text-align: left;
			font-family: 'Proxima Nova Regular';
		
			a{
				color: #ff6600;
				text-decoration: none;

				&:hover,&:focus{
					color: #ff6600;
					text-decoration: none;					
				};
			}
		}

		&-img{
			width: 40%;
			height: 240px;
			object-fit:cover;

			margin-left: -50px; 
		}
	}

	&__right{
		padding: 1.5em 2em;
	}

	&__action-wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-end;
	}	

	&__action{
		margin: .8em 0px;
		font-size: 1.1em;
		font-family: 'Proxima Nova Bold';
		color:$accent !important;
		cursor: pointer;
		img{
			height: 10px;
			width: auto;
			object-fit:cover;
			transform:rotate(-90deg);
			cursor: pointer;
		}
	}		
}

@include adaptive-m{
	.build-block{
		font-size: 14px;
	
	}
}

@include adaptive-767{
	.build-block{
		font-size: 12px;
	
	}
}

@include adaptive-660{
	.build-block{
		&__item-wrap{
			flex-direction:column;
		}

		&__item{
			
			&-img{
				width: 80%;
				margin:0 auto;				
			} 

			&-title{
				text-align: center;
			}

			&-annotation{
				text-align: center;
			}			
		}

		&__action{
			font-size: 1.5em;
		}
	}
}

@include adaptive-480{
	.build-block{
		&__item{
			&-annotation{
				font-size: 1.5em;
				line-height: 1.7;
			}
		}
	}
}