@import '../helpers/breakpoints';

.contacts-block{
	font-size: 16px;
	color:#333;

	min-height: 90vh;

	&__wrap{
		padding: 2.5em .5em;
		min-height: 650px;
	}

	&__title{
		font-size: 1.2em;
		font-family: 'Proxima Nova Bold';
	}	

	&__text{
		font-size: 1em;
		font-family: 'Proxima Nova SemiBold';
	}

	&__info{
		padding: 2em 0px;
	}

	&__map{

	}

	&__link{
		color:#333;
		font-size: 1em;
		font-family: 'Proxima Nova SemiBold';

		&:hover{
			color:$accent;
			text-decoration: none;
		}
	}
}

@include adaptive-m{
	.contacts-block{
		font-size: 14px;
		margin-bottom: 4em;

		&__wrap{
			text-align: center;
		}

		&__map{
			height: 250px;
		}
	}
}