@import '../helpers/breakpoints';

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	font-size: 16px;
	color:$accent !important;
	background-color: #fff !important;
	font-family: 'Proxima Nova Bold';
	position: relative;

	&:after{
		content: '';
	    position: absolute;
	    left: 15px; bottom: -7px;
	    height: 4px;
	    background-color: $accent;
	    width: 75%;
	    transition: width .25s;
	    margin: 5px auto;
	}

}

.nav-pills .nav-link{
	font-family: 'Proxima Nova SemiBold';
	font-size: 16px;
	color:#333;
	position: relative;

	img{
		height: 18px;
	}

	&:after{
		content: '';
	    position: absolute;
	    left: 15px; bottom: -7px;
	    height: 4px;
	    background-color: $accent;
	    width: 0%;
	    transition: width .25s;
	    margin: 5px auto;
	}	

	&:hover{
		color:$accent;

		&:after{
			width: 75%;
		}
	}
}

@include adaptive-767{
	.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
		font-size: 14px;
	}

	.nav-pills{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;
	}

	.nav-pills .nav-link{
		font-size: 12px;
		img{
			height: 15px;
		}
	}
}

@include adaptive-767{
	.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
		font-size: 12px;
	}

	.nav-pills{
		width: 100%;
		flex-wrap:nowrap;
	}

	.nav-pills .nav-link{
		font-size: 11px;
		text-align: center;
	}
}