.error-block{
	font-size: 16px;
	min-height: 80vh;

	&__wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-start;
		padding: 0px !important;
	}

	h2{
		font-family: 'Proxima Nova Bold';
		color:$accent;
	}

	h4{
		font-family: 'Proxima Nova Semibold';
	}

	&__left{
		width: 60%;
		height: 100%;

		padding: 2em 2.5em;

		height: 80vh;
		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;

		position: absolute;
		left: 0;

		background: linear-gradient(to right,#fff 65%,transparent);

	}

	&__right{
		width: 100%;
		height: 100%;
		background-image: url('/img/main1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		height: 80vh;
	}
}