@import '../helpers/breakpoints';

.gallery-modal{

	.modal-dialog{
		max-width: 100%;
		width: 85% ;
		height: 85% ;

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	.modal-content{
		width: 65%;
		height: 80%;
	}
	
	.modal-body{
		width: 100%;
		position: relative;

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		img{
			width: 100%;
			height: auto;
			object-fit:cover;
		}
	}


	.modal-footer{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-between;

		.col-md-2{
			display: flex;
			flex-direction:row;
			align-items:center;
			justify-content:center;

			img{
				height: 25px;
				width: auto;
				object-fit:cover;
				cursor: pointer;
			}
		}

		.start{
			justify-content:flex-start;
			img{
				transform:rotate(90deg);
			}
		}

		.next{
			justify-content:flex-end;
			img{
				transform:rotate(-90deg);
			}


		}
	}
}


@include adaptive-480{
	.gallery-modal{
		.modal-dialog{
			width: 100%;
			height: 100%;
			margin: 0 auto !important;
		}
		.modal-content{
			width: 95%;
			height: 85%;
		}	
	}
}