@import '../helpers/breakpoints';

.gallery-block{
	font-size: 16px;
	margin: 2em 0px;
	min-height: 80vh;


	&__title{
		font-size: 1.5em;
		font-family: 'Proxima Nova Bold';
	}

	&__item{
		margin: 2.5em 0px;
		padding: 2em 5em;

		a{
			&:hover,&:focus{
				text-decoration: none;
				color:#333;
			}			
		}
	}

	&__item-wrap{
		border:4px solid $grey;
		padding: 1.5em 4em;

		min-height: 360px;
	}

	&__image{
		margin-top: -4em;

		height: 220px !important;
		width: 100% !important;
		object-fit: cover !important;
	}

	&__text{
		margin: .8em 0px;
		font-size: 1em;
		font-family: 'Proxima Nova Semibold';
		color:#333;

		
	}
	
	&__action-wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-end;
	}

	&__action{
		margin: .8em 0px;
		font-size: 1.1em;
		font-family: 'Proxima Nova Bold';
		color:$accent !important;
		cursor: pointer;
		img{
			height: 10px;
			width: auto;
			object-fit:cover;
			transform:rotate(-90deg);
			cursor: pointer;
		}
	}
}


@include adaptive-m{
	.gallery-block{
		font-size: 14px;

		&__item-wrap{
			min-height: 300px;
		}
	}
}

@include adaptive-768{
	.gallery-block{
		&__image{
			height: 160px !important;
		}

		&__item-wrap{
			min-height: 200px;
		}
	
	}
}

@include adaptive-480{
	.gallery-block{
		&__image{
			height: 120px !important;
		}
	
	}
}