@import '../helpers/breakpoints';

.gallery-images-block{
	font-size: 16px;
	margin: 1.5em 0px 10em 0px;	

	&__wrap{
		display: grid;
		grid-column-gap: 25px;
		grid-row-gap: 25px;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows:1fr 1fr 1fr;

		img{
			width:100%;
			min-height: 140px;
			object-fit:cover;
		}
	}
}

@include adaptive-m{
	.gallery-images-block{
		font-size: 14px;
	}
}

@include adaptive-767{
	.gallery-images-block{

		&__banner{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
		}
	
	}
}

@include adaptive-480{
	.gallery-images-block{
		&__wrap{
			grid-template:1fr / 1fr;
			justify-items:center;
		}
	}
}