.gallery-detail{
	font-size: 16px;

	&__left{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-start;

		padding: 1.2em 0px;
	}

	&__back{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		&:hover,&focus{
			text-decoration: none;
		}		

		svg{
			height: 10px;
			width: auto;
			transform:rotate(90deg);
			margin:0px 1.2em;  
		}
		p{
			font-size: 1em;
			font-family: 'Proxima Nova Bold';
			margin:0px; 
			color:$accent;


		}
	}


}