@import '../helpers/breakpoints';

.history-block-wrap{
	background-color: #fff ;
	width: 100%;
	height: 100%;
	padding: 0px !important;
	position: relative;
}

.scroll-block{
	width: 100%;
	height: 10%;
	background-color: #fff;
	
	position: absolute;
	bottom:0;
	left: 0;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}


.history-block{
	font-size: 22px;
	overflow:hidden; 
	position: relative;

	width: 100%;
	height: 90%;

	&__content{
		position: absolute;
		top:0;


		//chanchable value for future
		left:0px;

		z-index: 999;
		color:#333;

		transition: all .3s ease;

		overflow-y:hidden; 

		background-color:#fff; 

		width: 500%;
		height: 100%;
		
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-start;

		h1{
			margin: 1em;
		}

	}
	
	img{
		z-index: 1;
	}

	&__section{
		width: 7.5%;
		height: 100%;
		background-color: #fff;
		padding: 4em 0px;
		text-align: center;
		margin:0em 2em; 
		position: relative;



		&.section_2{
			padding: 35px;
			background-origin: content-box;
			background-image: url('/img/history/his-back.png');
			background-size: 80% 80%;
			background-position: bottom right;
			background-repeat: no-repeat;
		}

		&.section_3{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;

			padding: 2em 0em;
		}

		&.section_4{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:felx-start;

			padding: 2em 1.5em;
		}	

		&.section_5{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:felx-start;

			padding: 2em 0em;
		}	

		&.section_6{
			display: flex;
			flex-direction:row;
			align-items:center;
			justify-content:space-between;
			width: 12%;
			padding: 2em 1em;
		}	

		&.section_7{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:felx-start;

			padding: 2em 0em;
		}

		&.section_8{
			display: flex;
			flex-direction:row;
			align-items:flex-start;
			justify-content:space-between;
			width: 12%;
			padding: 2em 1em;
		}	

		&.section_9{
			display: flex;
			flex-direction:row;
			align-items:center;
			justify-content:space-between;
			width: 12%;
			padding: 2em 1em;
		}												
	}
	
	// section 1
	&__title{
		font-family: 'Proxima Nova Bold';
		font-size: 2em;

	}
	
	// section 2
	&__date-wrap{
		font-size: 16px;
		position: absolute;

    	bottom: 31%;
    	left: 5.8%;

	    width: 420px;
	    height: 220px;

	    padding: 2em;

		border:10px solid #d0d0d0;

		text-align: left;
		color:#ababab;

		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;
	}

	&__image{
		width: 80%;
		height: auto;	
		object-fit:cover;
	}

	&__image_2{
		width: 100%;
	}

	&__date-text{
		font-family: 'Proxima Nova Bold';
		font-size: 2em;
		text-transform: uppercase;
		margin: 0em;
	}

	&__date{
		font-family: 'Proxima Nova Bold';
		font-size:4.5em;
		margin: 0em;
	}


	// section 3
	&__text-wrap{
		width: 100%;
		text-align: left;
		font-size: 1.2em;
		font-family: 'Proxima Nova SemiBold';
		color:#333;
		padding: 1.2em .8em;

		z-index: 1;


		&.m{
			width: 50%;
		}
	}

	&__text{
		margin: .5em 0px;
	}
	

	//section 6
	&__image_3{
		width: 40%;
	}

	//section 8
	&__image-wrapper{
		position: relative;
		padding: 2em 0em;
		width: 50%;
	}

	&__image_4{
		position: absolute;
		width: 85%;
		bottom: 8%;
    	left: -75%;
	}

	&__image_5{
		width: 100%;
	}

	//section 9
	&__image_6{
		margin-top: 20em;
		width: 100%;
	}


	&__back-date{
		position: absolute;
		font-size: 8em;
		z-index: 0;

    	bottom: 6%;
    	left: 5.8%;

	    padding: 2em;
	    font-family: 'Proxima Nova Bold';

		text-align: left;
		color:#d0d0d0;

		&.sec_4{
			bottom: 37%;
			z-index: 2;
		}

		&.sec_5{
		    left: -1%;
    		bottom: -42%;
		}	

		&.sec_6{
		    left: 15%;
    		bottom: 18%;
    		z-index: 2;
		}	

		&.sec_7{
		    left: 45%;
    		bottom: -41%;
		}	

		&.sec_8{
		    left: 35%;
    		bottom: 29%;
		}						
	}

}

@include adaptive-l{
	.history-block{
		font-size: 14px;

		&__date-wrap{
     		left: -44.2%;

		}

		//section 6
		&__image_3{
			width: 35%;
		}

		//section 8
		&__image-wrapper{
			position: relative;
			padding: 2em 0em;
			width: 50%;
		}

		&__image_4{
			position: absolute;
			width: 85%;
			bottom: 8%;
	    	left: -55%;
		}

		&__image_5{
			width: 80%;
		}

		//section 9
		&__image_6{
			margin-top: 20em;
			width: 80%;
		}		
	}
}

@include adaptive-m{
	.history-block{
		font-size: 12px;

		&__section{
			height: 80%;
		}

		&__date-wrap{
			font-size: 12px;
			width: 270px;
    		height: 160px;
		}
	}
}

@include adaptive-768{
	.history-block{

		&__section{
			height: 50%;
		}

		&__back-date{
			font-size: 6em;
		}
	
	}
}

@include adaptive-480{
	.history-block{
		&__date-wrap{
			display: none;
		}

		&__back-date{
			display: none;
		}	

		&__content{
			width: 650%;
		}	

		&__section{
			width: 20%;
			height: 80%;
			margin: 0em .5em;
			&.section_2{
				display: none;
			}
			&.section_6{
				width: 20%;
				flex-direction:column;
				
				.history-block__text-wrap{
					width: 100%;
				}

			}
			&.section_8{
				flex-direction:column;
				width: 20%;
				
				.history-block__text-wrap{
					width: 100%;
				}

				.history-block__image-wrapper{
					width: 100%;
				}

			}
			&.section_9{
				width: 20%;
				flex-direction:column;
				
				.history-block__text-wrap{
					width: 100%;
				}

				.history-block__image-wrapper{
					display: none;
				}

			}									
		}

		&__image_5{
			display: none;
		}
		&__image_4{
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			bottom: 0;
			width: 100%;
		}	

		&__image_2{
			width: 70%;
		}	
	}
}

@include adaptive-360{
	.history-block{
		&__content{
			width: 700%;
		}
	}
}