@import '../helpers/breakpoints';

.invest{
	font-size: 16px;

	&__text{
		font-family: 'Proxima Nova Bold';
		font-size: 1.2em;
		text-align: left;
		width: 70%;

		margin: 0em 2em;
	}

	&__date{
		color:#8f8f8f;
		font-family: 'Proxima Nova SemiBold';
		font-size: 1.2em;
		text-align: left;
		width: 70%;

		margin: 1.5em 2em;		
	}

	&__fluid-text{
		font-size: 1.1em;
		font-family: 'Proxima Nova SemiBold';

		margin: 1.2em 0em;
	}

	&__image{
		width: 60%;
		height: auto;
	}
}

@include adaptive-m{
	.invest{

		&__text{
			font-size: 1em;
		}

		&__fluid-text{
			font-size: 1em;
		}
	}
}

@include adaptive-767{
	.invest{
		&__fluid-text{
			font-size: .8em;
			padding: .5em 1.2em;
		}		
	}
}

@include adaptive-480{
	.invest{
		&__fluid-text{
			font-size: 1em;
			padding: .5em 2em;
		}
	}
}