@import '../helpers/breakpoints';

.main-objects{
	font-size: 22px;
	background-color: $grey;
	height: 100vh;


	&__wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;	
		margin-top: 5em;

		height: 80vh;	

		background-image: url('/img/main2bk.png');
		background-size: 48% 50%;
		background-position: bottom left;
		background-repeat: no-repeat;


	}

	&__left{
		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;

		width: 45%;
		margin-top: 0%;
		margin-right: -10%;
		z-index: 999;

		background-color: #fff;
		padding: 2em 3em 2em 12em;

		margin-top: -12em;
	}

	&__right{
		width: 70%;
		height: 65vh;

		// background-image: url("/img/main4.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		position: relative;


	}

	&__image{
		position: absolute;
		
		width: 100%;
		height: 100%;
		object-fit:cover;
		transition: all .5s ease-in-out;
		
		//Not active images
		left:150%; 

		&.active{
			top:0;
			left:0;			
		}
	}	

	&__name{
		font-size: 1.2em;
		font-family: 'Proxima Nova Semibold';
		margin: .5em 0px;
		padding-left: 42px;
	}

	&__text{
		font-size: .8em;
		font-family: 'Proxima Nova Semibold';
		margin: .5em 0px;
		padding-left: 42px;
	}

	&__btn{
		margin-left: 42px !important;
		border: 1px solid #fff;
		
		color:#fff;

		&:hover, &:focus{
			text-decoration: none;
			color:$accent;
			border: 1px solid $accent;
			background-color: #fff;
		}
	
	}

	&__text-wrap{
		opacity: 0;
		z-index: -99;
		height: 0px;

		transition: all .3s ease-in-out;

		&.active{
			opacity: 1;
			z-index: 99;
			height: 320px;
		}
	}



	&__controllers{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		margin-left: 42px !important;
	}

	&__controller-wrap{
		cursor: pointer;
		border:1px solid $accent;
		padding: .3em .6em;
		position: relative;
		z-index: 999;
		transition: all .3s ease-in-out;

		&:hover{
			background-color: $accent;

			.main-about__slider-arrow{
				fill:#fff;
			}
		}			
	}

	&__slider-arrow{
		height: 13px;
		width: auto;
		object-fit:cover;

		&.left{
			transform:rotate(90deg);	
		}

		&.right{
			transform:rotate(-90deg);
		}
	}	
}


@include adaptive-xl{
	.main-objects{
		font-size: 20px;
	}
}

@include adaptive-l{
	.main-objects{
		font-size: 16px;

		&__text-wrap{
			&.active{
				height: 240px;
			}
		}
	}
}

@include adaptive-m{
	.main-objects{
		&__left{
			padding-left: 8em;
		}
		font-size: 14px;
	}
}

@include adaptive-s{
	.main-objects{
		font-size: 12px;

		&__left{
			padding-left: 8em;
		}
	}
}

@include adaptive-767{
	.main-objects{
		&__text-wrap{
			&.active{
				height: 200px;
			}
		}		
	
	}
}

@include adaptive-480{
	.main-objects{
		font-size: 10px;

		&__wrap{
			background: none;
			flex-direction:column;
		}

		

		&__left{
			width: 90%;
			min-height: 55%;
			margin: -15% auto 0em auto;
     		padding: 1em 1em 1em 1em;
		}

		&__title{
			margin: 0px;
		}

		&__text{
			font-size: 1.1em;
		}

		&__text-wrapper{
			display: flex;
			flex-direction:column;
		}

		&__text-wrap{
			display: flex;
			flex-direction:column;
			align-items:flex-start;
			justify-content:center;

			&.active{
				height: 200px;
			}
		}		

		&__right{
			width: 100%;
		}

		.custom-btn{
			font-size: 1.2em;
			margin: 0 auto !important;
		}

		&__controllers{
			margin: 1em auto !important;
		}

		&__left{
			padding-left: 2em;
		}

		&__slider-arrow{
			margin: 0 1.2em;
		}

		&__controller-wrap{
			margin: 0em 1.2em;
		}

		&__btn{
			margin: 1.2em auto !important;
		}		
	}
}

