@import '../helpers/breakpoints';

.main-info{
	font-size: 24px;
	height: 100vh;
	background-color: $grey;

	&__wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;
		padding-left: 0px !important;
	}
	
	&__left{
		height: 65%;
		width: 40%;
		// border:1px solid $s-active;

		margin-right: -8em;
		z-index: 999;

		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;

		background-image: url('/img/main2bk.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom;
	}

	&__image-wrap{
		width: 95%;
		height: 65%;
		background-image: url('/img/main2.jpg');
		background-repeat: no-repeat;
		background-size: cover;

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		color:#fff;
	}

	&__year{
		//todo:extrabold
		font-family: 'Proxima Nova ExtraBold';
	    width: 45%;
	    height: 55%;
	    font-size: 8em;
	    margin: 0px;
	    padding-left: 100px;
	}

	&__year-text{
	    font-size: 1.1em;
	    font-family: 'Proxima Nova ExtraBold';
	    width: 85%;
	    margin: 0px;
	    padding-left: 200px;
	}

	&__right{
		width: 70%;
		background-color: #fff;
		height: 65%;
		padding: 2em 5em 0px 10em;

		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;
	}

	&__title{
		font-size: 1.4em;
		width: 65%;
		padding-left: 32px;
		border-left: 2px solid $s-active;

		//todo:поменять на Bold
		font-family: 'Proxima Nova Semibold';
	}

	&__text{
		padding-left: 32px;
		font-size: 0.95em;
		width: 85%;
		font-family: 'Proxima Nova Semibold';
	}

	&__btn{
		margin-left: 32px !important;
	}
}

@include adaptive-xl{
	.main-info{
		font-size: 20px;
	}
}

@include adaptive-l{
	.main-info{
		font-size: 16px;
	}
}

@include adaptive-m{
	.main-info{
		font-size: 14px;
	}
}

@include adaptive-s{
	.main-info{
		font-size: 12px;

		&__year-text{
			width: 80%;
		}
	}
}

@include adaptive-767{
	.main-info{
		
		&__year{
			padding-left: 30px;
			height: 35%;
		}

		&__year-text{
			padding-left: 100px;
		}
	}
}

// @include adaptive-480{
// 	.main-info{
// 		font-size: 9px;

// 		&__year-text{
// 			width: 100%;
// 			padding-left: 50px;
// 		}

// 		&__year{
// 			padding-left: 30px;

// 		}

// 		.custom-btn{
// 			font-size: 1.2em;
// 		}		
// 	}
// }

@include adaptive-480{
	.main-info{

		&__wrap{
			flex-direction:column;
			padding: 0 15px !important;
		}

		&__left{
			width: 100%;
			height: 35%;
			margin: 0 auto;
			background: none;
		}

		&__image-wrap{
			margin: 0 auto;
		}

		&__right{
			width: 100%;
			height: 50%;
			margin: 0 auto;
			margin-top: -3em;
     		padding: 2em 2em 0px 2em;
		}

		&__title{
			width: 100%;
		}

		&__text{
			width: 100%;
			font-size: 1.2em;
			margin: 0px;
		}

		&__year-text{
			padding-left: 40px;
		}

		&__year{
			height: 55%;
			font-size: 5.5em;
		}		

		.custom-btn{
			font-size: 1.4em;
			margin: 1em auto !important;
		}
	}
}

@include adaptive-360{
	.main-info{
		&__left{
			height: 40%;
		}
		&__image-wrap{
			height: 100%;
			justify-content:flex-start;
		}
		&__year{
			font-size: 5em;
			height: 35%;
		}
		&__right{
			z-index: 999;
			height: 60%;
			padding:1em; 
		}
		&__text{
			padding-left: 10px;
		}
	}
}

