@import '../helpers/breakpoints';

.main-map{
	font-size: 24px;

	&__wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;
		height: 85vh;
	}


	&__object{
		padding-left: 2.4em;
		font-size: .9em;
		margin: .5em 0px !important;
		font-family: 'Proxima Nova Semibold';
		text-decoration: underline;
		cursor: pointer;
	}

	&__left{
		width: 40%;
		padding-left: 4em;	
	}

	&__right{
		width: 60%;
	}

	&__map{
		width: 100%;
		height: 400px;
	}
}

@include adaptive-xl{
	.main-map{
		font-size: 20px;
	}
}

@include adaptive-l{
	.main-map{
		font-size: 16px;
	}
}

@include adaptive-m{
	.main-map{
		font-size: 14px;

		&__map{
			height: 360px;
		}
	}
}

@include adaptive-s{
	.main-map{
		font-size: 12px;
	}
}

@include adaptive-767{
	.main-map{

		&__right{
			width: 100%;
		}

		&__left{
			margin: 1.2em 0px;
			width: 60%;
		}

		&__wrap{
			flex-direction:column;
		}

		&__map{
			height:240px;
		}
	}
}

@include adaptive-480{
	.main-map{

		&__left{
			width: 100%;
			padding-left: 2em;
		}

		&__wrap{
			height: 80vh;
		}

		&__map{
			height: 200px;
		}

		&__object{
			text-align: left;
			font-size: 1.2em;
		}

	}
}

