@import '../helpers/breakpoints';

.main-about{
	font-size: 24px;
	// background-image: url('/img/main1.jpg');
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	height: 90vh;
	padding: 0px !important;
	position: relative;

	&__left{
		// background-color: #fff;
		width: 65%;
		padding: 2em 0em 2em 14em;

		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;

		height: 100%;

		// background-image: linear-gradient(to right, rgba(255,255,255,0.001) 0%, #fff 5%, #fff 100%);
		background-image: linear-gradient(to right,#fff 45%,transparent);
		background-image:  -o-linear-gradient(to right,#fff 45%,transparent);
		background-image: -moz-linear-gradient(to right,#fff 45%,transparent);
		background-image: -webkit-linear-gradient(to right,#fff 45%,transparent);
		background-image: -ms-linear-gradient(to right,#fff 45%,transparent);
		
		transition: all .3s ease-in-out;

		&.resetAboutLeft{
			background-image: none;
		}
	}

	&__text-wrapper h1{
		font-family: 'Proxima Nova Bold';
		margin:12px 0px; 
		font-size: 2em;
		text-transform: uppercase;

		max-width: 70%;
	}

	h4{
		font-family: 'Proxima Nova Semibold';
		margin:12px 0px; 
		font-size: .8em;

		max-width: 50%;
	}

	&__button{
		margin:2.8em 0px; 
		border:0px;
		color:#fff;
		background-color: $accent;
		padding: .5em 3.2em;
		font-size: .8em; 
		border: 1px solid #fff;
		
		font-family: 'Proxima Nova Bold';

		transition: all .3s ease-in-out;

		&:hover{
			border: .5px solid $accent;
			color:$accent;
			background-color: #fff;
		}
	}

	&__controllers{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		margin:1em 0px; 


	}

	&__controller-wrap{
		border:1px solid $accent;
		padding: .3em .6em;

		cursor: pointer;

		transition: all .3s ease-in-out;

		&:hover{
			background-color: $accent;

			.main-about__slider-arrow{
				fill:#fff;
			}
		}		
	}

	&__slider-arrow{
		height: 13px;
		width: auto;
		object-fit:cover;
		fill:#ff6600;

		&.left{
			transform:rotate(90deg);	
		}

		&.right{
			transform:rotate(-90deg);
		}
	}

	&__dots-wrap{
		margin:1em 0px; 

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;
	}

	&__dots{
		margin: 0px .3em;
		width: 25px;
		height: 3px;
		background-color: $accent;

		&.active{
			background-color: $s-active;
		}
	}

	&__text-wrapper{
		z-index: -999;
		opacity: 0;
		height: 0px;
		transition: all .3s ease-in-out;

		&.active{
		    opacity: 1;
		    min-height: 250px;
		    z-index: 99;
		}
	}


	&__slider-wrapper{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #ccc;
		z-index: -99;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		&-left{
			width: 30%;
			height: 100%;
		}

		transition: all .3s ease-in-out;

		&.resetSliderWrapper{
			background-color: #fff;
			//background-image: url("/img/resetBack.png");
			background-position: top left;
			background-size: 60% 60%;
			background-repeat: no-repeat;
		}

		&-right{
			width: 70%;
			height: 100%;
			position: relative;

			img{
				position: absolute;
				left: 100%;
				top:0;

				transition: all .5s ease-in-out;
				
				width: 100%;
				height: 100%;
				object-fit:cover;


				&.active{
					left:0;
				}

				&.resetStyles{
					width: 80%;
					height: 80%;

					top:10%;

					&.active{
						left: 15%;
					}

				}

			}
		}
	}
}

@include adaptive-xl{
	.main-about{
		font-size: 20px;
	}
}

@include adaptive-l{
	.main-about{
		font-size: 16px;

		&__text-wrapper{
			&.active{
				min-height: 200px;
			}
		}
	}
}

@include adaptive-m{
	.main-about{
		font-size: 14px;

		h1{
			font-size: 2em;
		}

		&__text-wrapper{
			&.active{
				height: 120px;
			}
		}	

		.main-about__slider-wrapper.resetSliderWrapper{
		    background-size: 60% 50%;
		}	
		.main-about__slider-wrapper-right img.resetStyles{
		    width: 60%;
		    height: 50%;
		    top: 15%;
		    right: 10%;
		    left:unset;
		}
	}
}

@include adaptive-s{
	.main-about{
		font-size: 12px;
		&__left{
			padding-left: 10em;
		}

		h1{
			font-size: 1.5em;
		}
	}
}

@include adaptive-768{
	.main-about{
	.main-about__slider-wrapper.resetSliderWrapper{
	    background-size: 60% 50%;
	}	
	.main-about__slider-wrapper-right img.resetStyles{
		width: 60%;
	    height: 20%;
	    top: 40%;
	}
}
}

@include adaptive-767{
	.main-about{
		&__text-wrapper{
			&.active{
				height: 100px;
			}
		}			
	}
}

@include adaptive-480{
	.main-about{
		font-size: 12px;

		&__left{
			width: 100%;
			padding:0em;
			background: linear-gradient(to bottom,#fff 40%,transparent);
			text-align: center;

			align-items:center;
			justify-content:flex-start;

			padding-top: 2em;

		}
		&__slider-wrapper{
			flex-direction:column;
		}
		&__slider-wrapper-left{
			display: none;
		}
		&__slider-wrapper-right{
			width: 100%;
		}		
		h1{
			font-size: 1.5em;
			margin: .5em auto;
			max-width: 90%;
		}

		h4{
			margin: 1.5em auto;
			max-width: 90%
		}

		&__text-wrapper.active{
			min-height: 100px;
		}

		&__button{
			margin: 1.5em 0px;
			font-size: 1em;
		}

		&__controllers{
			margin: 1em 0em;
		}

		.main-about__slider-wrapper-right img.resetStyles{
			width: 100%;
		    height: 60%;
		    top:unset;
		    bottom: 0;

		    &.active{
		    	left:0%;
		    }
		}			
	}
	
}