@import '../helpers/breakpoints';

.main-advantage{
	font-size: 24px;

	&__left{
		height: 100vh;
		background-image: url('/img/main3.png');
		background-repeat: no-repeat;
		background-position: 100% bottom;
		background-size: cover;

	}

	&__title{
		margin:2em 4em; 
	}

	&__right{
		height: 100vh;	
		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;	
	}

	&__item{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-start;
	}

	&__icon{
		height: 35px;
		width: auto;
		object-fit:cover;
	}

	&__text-wrap{
		padding: 1em; 
	}

	&__item-title{
		font-size: 1.1em;
		margin:0px; 
	}

	&__item-text{
		font-size: .8em;
		margin:0px; 
	}
}

@include adaptive-xl{
	.main-advantage{
		font-size: 20px;

		&__left{
			background-size: auto 100%;
			background-position: left bottom;
		}		
	}
}

@include adaptive-l{
	.main-advantage{
		font-size: 16px;


	}
}

@include adaptive-m{
	.main-advantage{
		font-size: 14px;

		&__left{
			background-size: auto 85%;	
			background-position: left center;	
		}
	}
}

@include adaptive-s{
	.main-advantage{
		font-size: 12px;
	}
}

@include adaptive-480{
	.main-advantage{
		font-size: 12px;

		&__left{
			display: none;
		}
	}
}

@include adaptive-360{
	.main-advantage{
		font-size: 11px;

		&__left{
			display: none;
		}
	}
}