.pagination-block{
	font-size: 16px;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;

	border: 2px solid #b8b8b8;
	width: 150px;

	margin:.5em auto;

	&__item{
		font-size: .8em;
		font-family: 'Proxima Nova Regular';
		color:#221711;
		padding: .2em .4em;

		border:.5px solid #b8b8b8;
		border-bottom: none;
		border-top: none;

		
		&:hover,&:focus{
			text-decoration: none;
			color:#0a1987;
		}

		&.active{
			color: #0a1987;
		}

		&.prev{
			border:none; 
		}
		&.next{
			border:none; 
		}		
	}

	&__action-wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-end;
	}

	&__action{
		margin: .8em 2em;
		font-size: 1.1em;
		font-family: 'Proxima Nova Bold';
		color:$accent !important;
		cursor: pointer;
		img{
			height: 10px;
			width: auto;
			object-fit:cover;
			transform:rotate(-90deg);
			cursor: pointer;
		}
	}	
}