@import '../helpers/breakpoints';

#partner-element-1 , #partner-element-3{
	opacity: 0;
}

.partners-block{
	font-size: 16px;
	

	&__slider{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		height: 100%;
	}

	&__image{
		width:150px;
		height: auto;
		object-fit:cover;

		margin:3em 0px; 
	}

	&__nav{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-start;


		.line{
			width:2px;
			height: 100px;
			background-color: #0a1987;
			margin: 0px 1.2em;
		}
	}

	&__text{
		width: 100%;
	}

	&__nav-arrows{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		a{
			cursor: pointer;
		}
	}

	&__nav-arrow{
		height: 20px;
		width: auto;

		margin: 1.5em 0px;



		&.prev{
			transform:rotate(180deg);
		}
	}

	&__detailed-wrap{
		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;

		img{
			margin: 3em 2em;
		}
	}

	&__action-wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-end;
	}

	&__action{
		margin: .8em 2em;
		font-size: 1.1em;
		font-family: 'Proxima Nova Bold';
		color:$accent !important;
		cursor: pointer;
		img{
			height: 10px;
			width: auto;
			object-fit:cover;
			transform:rotate(-90deg);
			cursor: pointer;
		}
	}	
}

@include adaptive-m{
	.partners-block{
		font-size: 14px;
	}
}

@include adaptive-767{
	.partners-block{
		&__slider{
			flex-direction:row;
		}

		&__image{
			margin:.5em 1em; 
		}
		
		&__nav{
			flex-direction:column;
			margin: 3em 0em 1em 0em;
			.line{
				height: 2px;
				width: 75%;
			}
		}

		&__nav-arrows{
			flex-direction:row;
		}

		&__nav-arrow{
			margin: 1em 2em;

			&.prev{
				transform:rotate(90deg);
			}

			&.next{
				transform:rotate(-90deg);
			}
		}		

		&__detailed-wrap{
			align-items:center;

			.invest__text{
				text-align: center;
			}
		}

		&__action{
			img{
				height: 20px;
			}
		}

		&__link{
			text-align: center;
		}
	}
}

@include adaptive-480{
	.partners-block{
		&__image{
			width: 100px;
		}
	}
}

@include adaptive-360{
	.partners-block{
		&__image{
			width: 80px;
		}
	}
}

@include adaptive-xs{
	.partners-block{
		&__image{
			width: 50px;
		}
	}
}