@import '../helpers/breakpoints';

.stat-block{
	grid-column: 1 / 3; 
}

.projects-info{
	font-size: 16px;

	margin: 8em 0px;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	&__row{
		display: grid;
		grid-template:1fr  /1fr 1fr; 
	}

	&__image{
		width: 75%;
		margin:0px auto;
	}

	&__text-wrap{
		background-color: #fff;
		width: 60%;
		box-shadow: 0px 3px 3px #ccc;

		margin-right: -20%;
		margin-top: -8%;

		padding: 1em;
		

	}

	&__title{
		font-size: 1.2em;
		font-family: 'Proxima Nova Bold';
		margin-bottom: 0px;
	}

	&__date{
		font-size: 1.2em;
		font-family: 'Proxima Nova SemiBold';
		margin-bottom: 0px;
	}



	&__action-wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-end;
	}

	&__action{
		margin: .8em 0px;
		font-size: 1.1em;
		font-family: 'Proxima Nova Bold';
		color:$accent !important;
		cursor: pointer;
		img{
			height: 10px;
			width: auto;
			object-fit:cover;
			transform:rotate(-90deg);
			cursor: pointer;
		}
	}	
}

@include adaptive-m{
	.projects-info{
		font-size: 14px;
		margin-top: 1em;
	}
}

@include adaptive-480{
	.projects-info{
		font-size: 12px;
		margin-top: 1em;


		&__row{
			grid-template: 1fr / 1fr;  
		}
	}
}

@include adaptive-360{
	.projects-info{

		&__image{
			width: 100%;
		}

		&__text-wrap{
			width: 100%;
		}
	}
}