@import '../helpers/breakpoints';

.project-inner-block-wrap{
	background: url('/img/main2bk.png');
	background-size: 40% 30%;
	background-position:left top;
	background-repeat: no-repeat; 	
}

.project-inner-block{
	
	
	font-size: 16px;
	padding: 5em 0px;
	
	&__slider{
		display: grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows:1fr 100px;
		grid-gap:50px;

		position: relative;
		margin: 1em 0px 5em 0px;
	}

	&__image{
		width: 100%;


		&.main{
			grid-column:1 / span 3;
		}
	}


	&__text-wrap{
		padding: 2em 3em;
	}
	
	&__title{
		font-size: 1.3em;
		font-family: 'Proxima Nova Bold';
	}

	&__addit{
		margin: 1.2em 0px;
		width: 50%;
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-between;

		font-size: 1em;
		font-family: 'Proxima Nova Regular';
	}

	&__city{

	}

	&__date{

	}

	&__secondary{
		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;

		margin: 1.2em 0px;
		font-family: 'Proxima Nova Regular';

		&-main{
			margin-bottom: 0px;
			font-size: 1.3em;
			color: $cust-text;
			font-family: 'Proxima Nova Semibold';
		}

		&-text{

		}
	}




	&__action-wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-start;
	}

	&__action{
		margin: .8em 0px;
		font-size: 1.1em;
		font-family: 'Proxima Nova Bold';
		color:$accent !important;
		cursor: pointer;
		img{
			height: 10px;
			width: auto;
			object-fit:cover;
			transform:rotate(-90deg);
			cursor: pointer;
		}
	}		
}

@include adaptive-l{
	.project-inner-block-wrap{
		background-size: 36% 27%;
	}
	.project-inner-block{
	
	}
}

@include adaptive-m{
	.project-inner-block-wrap{
		background-size: 34% 20%;
	}
	.project-inner-block{
		font-size: 14px;
	}
}

@include adaptive-m{
	.project-inner-block-wrap{
		background: none;
	}
	.project-inner-block{
		font-size: 14px;

		

	}
}

@include adaptive-767{
	.project-inner-block{

		&__grids{
			display: grid;
			grid-template:1fr  / 1fr 1fr 1fr;
			align-items:center;
			grid-gap:5px;
		}	

		&__secondary{
			&-main{
				font-size: 1.1em;
			}
		}

		&__slider{
			margin:1em 0px 1em 0px; 
		}
	}
}

@include adaptive-480{
	.project-inner-block{
		&__grids{
			align-items:start;
		}

		&__secondary{
			width: 90%;
			&-main{
				font-size: 1.1em;
			}
		}

			
	}
}

@include adaptive-360{
	.project-inner-block{
		&__text-wrap{
			padding: .5em 3em;
		}

	}
}
