@import '../helpers/breakpoints';

.service-types-tabs{
	font-size: 24px;

	&__wrap{
		margin: 1em 0px 1em 0px;
		background-color: #fff;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-around;

		border-left: 2px solid #333;
		position: relative;

		overflow: hidden;
	}

	&__title{
		margin: 1.2em 1.5em;

		font-family: 'Proxima Nova Bold';
		font-size: 1em;
	}

	&__type{
		width: 170px;
		margin: 1.2em 1.5em 2em 1.5em;

		font-family: 'Proxima Nova SemiBold'; 
		font-size: 1em;



	}

	&__tabs{
		display: none;
		position: absolute;
		bottom: 20px;
		right: 7%;
	}

	&__wrapper{
		position: relative;
		cursor: pointer;


		.active-item{
			z-index: 99;
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: #ccc;
			bottom: 20px;

			transition: all .3s ease-in-out;

			&.selected{
				background-color: #ff6600;
			}

		}
	}
}


@include adaptive-xl{
	.service-types-tabs{
		font-size: 18px;
	}
}

@include adaptive-l{
	.service-types-tabs{
		font-size: 16px;
		&__tabs{
			right: -10%;
		}	
		&__type{
			width: 150px;
			min-height: 40px;
		}	
	}
}


@include adaptive-m{
	.service-types-tabs{
		font-size: 14px;

		&__title{
			display: none;
		}

		&__type{
			width: 130px;
		}

		&__tabs{
			right: -23%;
		}
	
	}
}

@include adaptive-s{
	.service-types-tabs{
		font-size: 12px;
	
	}
}

@include adaptive-767{
	.service-types-tabs{
		&__title{
			display: none;
		}
	}
}

@include adaptive-480{
	.service-types-tabs{
		font-size: 12px;

		&__wrap{
			display: grid;
			grid-template:1fr 1fr / 1fr 1fr;
		}

		&__type{
			margin:1em .5em;
			width: 100px; 
		}

		&__tabs{
			display: none;
		}


		&__wrapper{
			.active-item{
				bottom: 0px;
			}
		}
	
	}
}

@include adaptive-360{
	.service-types-tabs{
		font-size: 10px;

		&__type{
			width: 80px;
			margin-top: .5em;
			margin-bottom: .5em;
		}
	
	}
}

@include adaptive-xs{
	.service-types-tabs{
		&__title{
			display: none;
		}
	
	}
}