@import '../helpers/breakpoints';

.slider-about{
	font-size: 20px;
	margin:2em 0px; 
	padding-left: 0px !important;

	// background-color: #fff;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;	

	&__image{
		width: 55%;
		height: 550px;
		position: relative;

		img{
			width: 100%;
			height: 85%;
			object-fit:cover;

			transition: all .3s ease-in-out;

			position: absolute;
			top:0;
			left:-100%;

			&.active{
				left:0;
			}

		}
		z-index: 9;
		margin-top: -2em;

		background-image: url('/img/main2bk.png');
		background-size:80% 60%;
		background-position: right bottom;
		background-repeat: no-repeat;
	}

	&__arrows{
		width: 15%;

		height: 500px;
		background-color: #fff;

		margin-left: -5%;
		position: relative;

		cursor: pointer;

		&-left{
			position: absolute;
			right: 4em;
			top: 1em;
			height: 12px;

		}

		&-right{
			position: absolute;
			right: 1em;
			top: 1em;
			height: 12px;
		}
	}


	&__text-block{
		background-color: #fff;
		width: 50%;
		margin-top: 4em;

		padding: 4em 2em 6em 2em;
	}

	&__text-block-wrap{
		z-index: -99;
		opacity: 0;
		height: 0px;

		transition: all .3s ease-in-out;

		&.active{
			z-index: 99;
			opacity: 1;
			height: 250px;
		}
	}


	&__title{
		font-family: 'Proxima Nova ExtraBold';
		font-size: 1.8em;
		margin:12px 0px; 
	}


	&__text{
		font-family: 'Proxima Nova Semibold';
		margin:12px 0px; 
		font-size: .8em;
		line-height: 1.4em;
		width: 45%;

		&.build{
			width: 85%;

			a{
				position: relative;
				z-index: 999;
				color:#ff6600;

				&:hover,&:focus{
					text-decoration: none;
					color:#ff6600;
				}
			}
		}
	}

	&__button{
		margin:2.8em 0px; 
		border:0px;
		color:#fff;
		background-color: $accent;
		padding: .5em 3.2em;
		font-size: .8em; 
		
		font-family: 'Proxima Nova Bold';

		border: 1px solid #fff;
		transition: all .3s ease-in-out;
		color:#fff;

		&:hover, &:focus{
			text-decoration: none;
			color:$accent;
			border: 1px solid $accent;
			background-color: #fff;
		}		

		
	}	

}


@include adaptive-xl{
	.slider-about{
		font-size: 18px;
	}
}

@include adaptive-l{
	.slider-about{
		font-size: 16px;
	}
}


@include adaptive-m{
	.slider-about{
		font-size: 14px;
		margin: 0em;

		&__image{
			height: 360px;
		}

		&__arrows{
			height: 460px;
		}
	}
}


@include adaptive-s{
	.slider-about{
		font-size: 12px;

		&__arrows{
			height: 350px;
		}

		&__image{
			height: 240px;
		}

	}
}

@include adaptive-767{
	.slider-about{
		font-size: 16px;
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		padding-left: 0px !important;
		padding-right: 0px !important;

		&__image{
			width: 100%;
			background: none;

			img{
				height: 100%;
			}
		}

		&__arrows{
			display: none;
		}

		&__text-block{
			width: 100%;
			margin-top: 0em;

			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;

			text-align: center;
		}

		&__text{
			margin: 1em auto;
			width: 85%;
		}
	}
}

@include adaptive-480{
	.slider-about{
		font-size: 14px;
		padding-left: 0px !important;
		padding-right: 0px !important;

		align-items:center;

		&__arrows{
			display: none;
			height: 350px;

			&-left{
				height: 9px;
				right:3em;
			}

			&-right{
				height: 9px;
				right:1em;
			}
		}

		&__image{
			height: 200px !important;
		}

		&__image{
			margin-top: .5em;
			height: 240px;
		}

		&__text-block{
			margin-top: 0px;
			padding-top: 1em;
			padding-bottom: 1em;
			padding-left: .5em;
			padding-right: .5em;
		}

		&__text{
			&.build{
				width: 95%;
				margin: .5em 0em;
			}
		}

		&__text-block-wrap{

			&.active{
				height: 250px;
			}
		}

	}
}

@include adaptive-360{
	.slider-about{
		font-size: 12px;

		&__image{
			height: 150px !important;
		}	

		&__text-block-wrap{

			&.active{
				height: 200px;
			}
		}	

		&__text{
			.build{
				margin: .3em 0em;
			}
		}	

		&__text-block{
			padding-top: 1em;
			padding-bottom: 1.5em;
		}
	}
}
