@import '../helpers/breakpoints';

.stat-block{
	font-size: 16px;

	display: flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:flex-start;

	font-family: 'Proxima Nova Bold';

	&__number{
		font-size: 3em;

	}

	&__text{
		margin-top: .5em;
		margin-left: 1.2em;
		font-size: 1.2em;
		max-width: 250px;
		margin-bottom: 0px;
	}
}

@include adaptive-m{
	.stat-block{
		font-size: 14px;
	
	}
}

@include adaptive-767{
	.stat-block{
		font-size: 12px;
		
		justify-content:center;
	}
}