@import '../helpers/breakpoints';

.today-block{
	font-size: 24px;
	height: 85vh;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;

	margin-left: -5em;
	position: relative;

	
	&__left{
		background-color: #fff;
		height: 65%;
		width: 100%;

		position: relative;
	}

	&__image{
	    position: absolute;
	    bottom: 0;
	    left: 420px;
	    z-index: 999;
	    height: 700px;
	    -o-object-fit: cover;
	    object-fit: cover;
	    width: auto;
 
	}

	&__dots{
		position: absolute;
	    bottom: 0;
	    left: 0;
	    z-index: 998;
	    left: 96px;

	    width: 900px;
	    height: 400px;
	    -o-object-fit: cover;
	    object-fit: cover;
	}

	&__image_none{
		opacity: 0;
	}



	&__right{
		background-color: #fff;
		height: 65%; 
		width: 90%;

		padding: 5em 0em 0px 8em;
		position: relative;
	}

	&__cav{
		position: absolute;
		
		width: auto;
	    height: 75px;
	    object-fit: cover;
	    z-index: 997 !important;

	    &.left{
			left:150px;
			top:90px;
	    }

	    &.right{
		    right: 70px;
    		bottom: 80px;
	    }

	}

	&__text{
		position: relative;
		z-index: 999 !important;
		font-family: 'Proxima Nova SemiBold';
	}
}

@include adaptive-xl{
	.today-block{
		font-size: 18px;
		
		&__image{
     		height: 400px;
		}

		&__dots{
		    width: 690px;
		    height: 300px;
		}

		&__cav{
			height: 45px;

			&.left{
				left: 100px;
			    top: 50px;
			}

			&.right{
				right: 10px;
			}

		}
	}
}

@include adaptive-l{
	.today-block{
		font-size: 16px;
	}
}

@include adaptive-m{
	.today-block{
		font-size: 14px;

		&__image{
			height: 340px;
     		left: 260px;
		}

		&__dots{
			width: 460px;
		    height: 200px;
		    left: 46px;
		}

		&__cav{
			height: 35px;

			&.left{
				left: 40px;
    			top: 20px;
			}

			&.right{
				bottom: 30px;
			}

		}	

		&__right{
     		padding: 3em 0em 0px 4em;
		}	
	}
}

@include adaptive-s{
	.today-block{
		font-size: 12px;

		&__image{
			height: 320px;
    		left: 170px;
		}

		&__dots{
			width: 360px;
		}

		&__cav{
			height: 35px;

			&.left{
				left: 40px;
    			top: 20px;
			}

			&.right{
				bottom: 30px;
			}

		}	

		&__right{
     		padding: 3em 0em 0px 4em;
		}	
	}
}


@include adaptive-480{
	.today-block{
			font-size: 16px;

			display: flex;
			flex-direction:row;
			align-items:center;
			justify-content:center;

			margin: 0em;
			padding: 0em !important;

			&__left{
				height: auto;
				display: none;
			}

			&__image{
				top:0;
				bottom:0;
				margin-top: auto;
				margin-bottom: auto;
			}

			&__right{
				height: auto;
				padding: 2.5em 1em;
			}

			&__image{
				height: 250px;
    			left: 40px;
			}	

			&__dots{
				display: none;
			}

			&__cav{
				height: 15px;

				&.left{
					left: 20px;
				    top: 10px;
				}

				&.right{
					bottom: 10px;
				}
			}
	}
}

@include adaptive-360{
	.today-block{
		font-size: 14px;

		&__right{
			padding:1em .5em; 
		}

		&__cav{
			&.left{
				left:10px;
			}
		}
	
	}
}

