@import '../helpers/breakpoints';

$accent:#ff6600;

.cbtn{
	font-size: 16px;
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;

	margin: .5em 1em;

	cursor: pointer;


	svg{
		height: 25px;
		width: auto;
		object-fit:cover;
		margin: 0em .5em;
	}

	&.cbtn-light{
		color:$accent !important;
		border:1px solid $accent;

		margin: .2em;

		padding: .5em 1.2em;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		svg{
			fill:$accent;
			transition: all .3s ease-in-out;
		}		

		transition: all .3s ease-in-out;

		&:hover, &:focus{
			text-decoration: none;
			color:#fff !important;
			background-color: $accent;

			.call{
				fill:#fff;
			}


		}
	}

	&.cbtn-dark{
		color:#fff;
		border:1px solid $accent;
		background-color: $accent;

		padding: .5em 1.2em;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		svg{
			fill:#fff;
			transition: all .3s ease-in-out;
		}

		transition: all .3s ease-in-out;

		&:hover, &:focus{
			text-decoration: none;
			color:$accent;
			background-color: #fff;	

			.pdf{
				fill:$accent;
			}				
		}				
	}	
}

@include adaptive-767{
	.cbtn{
		font-size: 14px;
	
	}
	.build-block__action-wrap{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
}

@include adaptive-480{
	.build-block{

		&__item-wrap{
			margin: 1em;
		}
	
	}
}

@include adaptive-360{
	.build-block{
		font-size: 12px;

		&__item-wrap{
			margin: 1em;
		}
	
	}
}