.range-component{
	&{
	  display: block;
	  -webkit-appearance: none;
	  background-color: #bdc3c7;
	  width: 300px;
	  height: 5px;
	  border-radius: 5px;
	  margin: 0 auto;
	  outline: 0;
	}

	&::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  background-color: #ff6600;

	  width: 25px;
	  height: 25px;

	  transform:rotate(45deg);

	  border: 2px solid white;
	  cursor: pointer;
	  transition: .3s ease-in-out;
	}​

	  &::-webkit-slider-thumb:hover {
	    background-color: white;
	    border: 2px solid #e74c3c;
	  }

	  &::-webkit-slider-thumb:active {
	    transform: scale(1.6);
	  }
}

// input[type=range] {
//   width: 300px;
// }
// /*###################################*/
// /*###########Responsive Range########*/
// /*###################################*/
// /*##############Core Style###########*/

// input[type=range] {
//   -webkit-appearance: none;
//   width: 100%;
// }

// input[type=range]::-webkit-slider-thumb {
//   -webkit-appearance: none;
// }

// input[type=range]:focus {
//   outline: none;
// }

// input[type=range]::-ms-track {
//   width: 100%;
//   cursor: pointer;
//   background: transparent;
//   border-color: transparent;
//   color: transparent;
// }
// /*#############Thumb##############*/

// input[type=range]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   height: 36px;
//   width: 36px;
//   background: #555;
//   cursor: pointer;
//   margin-top: -12px;
// }

// input[type=range]::-moz-range-thumb {
//   height: 36px;
//   width: 36px;
//   background: #555;
//   cursor: pointer;
// }

// input[type=range]::-ms-thumb {
//   height: 36px;
//   width: 36px;
//   background: #555;
//   cursor: pointer;
// }
// /*#############Track##############*/

// input[type=range]::-webkit-slider-runnable-track {
//   width: 100%;
//   height: 12px;
//   cursor: pointer;
//   background: #ccc;
// }

// input[type=range]:active::-webkit-slider-runnable-track {
//   background: #d6d6d6;
// }

// input[type=range]::-moz-range-track {
//   width: 100%;
//   height: 12px;
//   cursor: pointer;
//   background: #ccc;
// }

// input[type=range]::-ms-track {
//   width: 100%;
//   height: 12px;
//   cursor: pointer;
//   background: transparent;
//   border-color: transparent;
//   color: transparent;
// }

// input[type=range]::-ms-fill-lower {
//   background: #ccc;
// }

// input[type=range]:focus::-ms-fill-lower {
//   background: #ddd;
// }

// input[type=range]::-ms-fill-upper {
//   background: #ccc;
// }

// input[type=range]:focus::-ms-fill-upper {
//   background: #ddd;
// }