@import '../helpers/breakpoints';

.footer{
	font-size: 16px;
	background-color: $grey;
	padding: 1em 8em;

	height: 15vh;

	&__wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-between;
	}

	p{
		margin: 0px;
	}

	&__logo{
		height: 60px;
		width:auto;
		object-fit:cover;
	}

	&__title{
		font-size: 1.1em;
		//todo:change to bold
		font-family: 'Proxima Nova Semibold';
	}

	a{
		color:#333;
		text-decoration: underline;
	}

	a:hover,a:focus{
		color:#333;
		text-decoration: underline;
	}


	&__text{
		font-size: .8em;
		font-family: 'Proxima Nova Semibold';
	}

	&__social{
		height: 35px;
		width:auto;
		object-fit:cover;
		margin:0px 1em; 	

		transition: all .3s ease-in-out;


		&.youtube{
			height: 25px;
		}

		&.insta{
			height: 25px;
		}

		&.facebook{
			height: 25px;
		}

		&:hover{
			fill:$accent;
		};			
	}

	&__social-link{
		text-decoration: none !important;
	}
}

@include adaptive-m{
	.footer{
		font-size: 14px;
		&__social{
			height: 25px;
		}	
	}
}

@include adaptive-767{
	.footer-container{
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	.footer{
		padding:1em 4em; 
		&__social{
			height: 20px;
		}
	}
	.footer.normal{
		font-size: 12px;
		margin: 0px !important;
		padding:.5em 2em; 

		.footer__logo{
			height: 40px;
		}
	
	}
	.footer.fullpage{
		font-size: 12px;

		.footer__logo{
			height: 40px;
		}		
	}
}

@include adaptive-480{
	.footer.normal{
		font-size: 18px;
		padding: .5em 0em;
		min-height: 20vh;
		height: auto;

	
		.footer__wrap{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
		}

		.footer__logo{
			height: 60px;
		}

		.footer__block{
			text-align: center;
			margin: .8em 0em;
		}
		.footer__text{
			font-size: .95em;
			margin: .5em 0em;
		}

		.footer__social{
			&.youtube{
				height: 35px;
			}

			&.insta{
				height: 35px;
			}

			&.facebook{
				height: 35px;
			}	

			transition: all .3s ease-in-out;

				
		}
	
	}
	.footer.fullpage{
		font-size: 14px;
		padding: .5em 1em;
		text-align: center;
		min-height: 20vh;

		.footer__logo{
			display: none;
		}	

		.footer__wrap{
			display: grid;
			grid-template:1fr 1fr / 1fr 1fr;
		}	
	}
}

@include adaptive-360{
	.footer.fullpage{
		font-size: 12px;
		min-height: 20vh;
	}
}

@include adaptive-xs{
	.footer.fullpage{
		font-size: 12px;

		.footer__wrap{
			grid-gap:5px;
		}
	}
}