@import '../helpers/breakpoints';

.header{
	font-size: 16px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.9);
	padding: 1em 0px;
	height: 10vh;
	position: relative;
	z-index: 99999;
	background-color: #fff;

	&__wrap{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-between;
	}

	&__burger{
		height: 20px;
		width: auto;
		object-fit:cover;
		cursor: pointer;
	}

	&__lang{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-between;
		margin:0px 1.2em;

		

		&-items{
			display: flex;
			flex-direction:row;
			align-items:center;
			justify-content:space-between;
			margin:0px 1.2em;
		}

		&-item{
			color:#333;
			margin:0px .5em; 
			font-size: .9em;
			text-transform: uppercase;
			cursor: pointer;
			font-family: 'Proxima Nova Semibold';
			
			&:hover,&:focus{
				color:#ff6600;
				text-decoration: none;
			}
			&.active{
				font-weight: 600;
			}
		}
	}

	&__logo{
		height: 40px;
		width: auto;
		object-fit:cover;

		position: absolute;
		left:0;
		right:0;
		margin-left: auto;
		margin-right: auto;
		top:0;
	}

	&__order{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:flex-end;

		&-number{
			margin:0px; 
			font-size: 1.1em;
			font-family: 'Proxima Nova Semibold';
		}

		&-button{
			margin: 0px;
			font-size: .8em;
			cursor: pointer;
			font-family: 'Proxima Nova Semibold';
		}
	}


}

@include adaptive-m{
	.header{
		font-size: 14px;
		
		&__logo{
			height: 40px;
		}
	}
}

@include adaptive-480{
	.header{
		font-size: 12px;
		&__lang-items{
			display: none;
		}
	}
}

@include adaptive-xs{
	.header{
		font-size: 10px;

	}
}