@import '../helpers/breakpoints';

#open-menu{
	z-index: 99999;
}

.menu{
	font-size: 16px;
	position: absolute;
	top:10vh;	
	background-color: transparent;


	&__close-wrap{
		width: 100%;
		padding-left: 2em;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-start;
	}

	&__close{
		height: 25px;
		width: auto;
		object-fit:cover;

		cursor: pointer;
	}

	&__items{
		height: 0vh;
		overflow: hidden;
		background-color: #fff;
		z-index: 9998;
		padding-top: 2.5em;

		transition: all .5s ease-in-out;

		&-wrap{
			display: flex;
			flex-direction:column;
			align-items:flex-start;
			justify-content:flex-start;
		}

	}

	&__item{
		padding-left: 6em;
		margin: .5em 0px;
		font-size: 1.2em;
		font-family: 'Proxima Nova Light';
		text-transform: uppercase;

		color:#111;
		transition:all .2s ease;

		&.active{
			font-family: 'Proxima Nova Semibold';
			color:$accent;
			text-decoration: none;
		}

		&:focus{
			color:$accent;
			text-decoration: none;
		}

		&:hover{
			color:$accent;
			font-family: 'Proxima Nova Semibold';
			text-decoration: none;			
			transform:scale(1.1);
		}
	}

	&__lang{
		display: none;
	}
}

@include adaptive-m{
	.menu{
		font-size: 14px;
	
	}
}

@include adaptive-m{
	.menu{

		&__lang{
			display: flex;
			flex-direction:row;
			align-items:center;
			justify-content:center;

			p{
				margin: .5em 1.2em;
				color:#111;
				text-transform: uppercase;
			}

			font-family: 'Proxima Nova Semibold';

			&-item{
				&.active{
					font-family: 'Proxima Nova Semibold';
					color:$accent;
					text-decoration: none;
				}

				&:focus{
					color:$accent;
					text-decoration: none;
				}

				&:hover{
					color:$accent;
					font-family: 'Proxima Nova Semibold';
					text-decoration: none;			
					transform:scale(1.1);
				}				
			}
			
			
		}
	
	}
}

@include adaptive-480{
	.menu{
		font-size: 14px;
		&__items{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:flex-start;


		}
		&__item{
			margin: .5em auto;
			padding: .2em;
		}

		&__lang{
			font-size: 1.3em;
			font-family: 'Proxima Nova Light';

			&-item{
				margin: 1em;
				color:#333;
				text-transform: uppercase;


				&:hover,&:focus{
					color:$accent;
					text-decoration: none;
				}
			}
		}
	}
}

@include adaptive-360{
	.menu{
		font-size: 12px;
	}
}
