@import '../helpers/breakpoints';

$blue:#0a1987;
$orange:#ff6600;
$grey:#878787;

.order{
	font-size: 16px;
	position: absolute;
	top:0;	
	background-color: #fff;
	height: 10vh;
	z-index: -999;
	

	&__wrap{
		height: 10vh;
		// box-shadow: 0px 1px 5px $s-active;
		border-bottom: 1px solid $s-active;
		z-index: 9998;

		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:center;
	}
	

	&__close-wrap{
		width: 100%;
		padding-left: 2em;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-end;
	}

	&__close{
		height: 25px;
		width: auto;
		object-fit:cover;

		cursor: pointer;
	}	

	&__content{
		height: 0vh;
		background-color: #fff;
		z-index: 9998;
		overflow: hidden;

		transition: all .3s ease-in-out;

		&-wrap{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
		}		
	}

	&__form{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		width: 100%;
	}

	&__title{
		font-size: 1.8em;
		text-transform: uppercase;
		color: $blue;
		font-family: 'Proxima Nova ExtraBold';
	}

	&__input{
		width: 35%;
		font-size: 1.2em;
		margin:.8em 0em;
		border: none;
		border-bottom: 1px solid $grey; 
		font-family: 'Proxima Nova SemiBold'
	}

	&__button{
		background-color: #fff;
		border:1px solid $orange;
		color:$orange;
		margin-top: 1.5em;
		padding: .5em 2.2em; 
		font-family: 'Proxima Nova Bold';
		transition: all .3s ease;
		cursor: pointer;

		&:hover, &:focus{
			border: 1px solid #fff;
			background-color: $orange;
			color:#fff;
		}
	}


}

@include adaptive-480{
	.order{
		font-size: 14px;

		&__input{
			width: 85%;
		}
	
	}
}

@include adaptive-360{
	.order{
		font-size: 12px;

	
	}
}

