@import '../helpers/breakpoints';

#app{
	overflow-x:hidden; 
}
#map{
	width: 100%;
	height: 530px;
	padding: 0px;
	margin: 0px;
}
.main-page{
	height: 100vh;
	font-size: 16px;

	&__title{
		font-size: 1.3em;
		text-transform: uppercase;
		font-family: 'Proxima Nova Semibold';
		padding-left: 2em;
		padding-top: .4em;
		padding-bottom: .4em;

		border-left: 2px solid $s-active;
	}

	&.bottom{
		height: 80vh;
	}
}

.about-page{
	background-color: #ebebeb !important;
}

.custom-btn{
	font-size: 16px;
	margin:1.2em 0px; 
	border:0px;
	color:#fff;
	background-color: $accent;
	padding: .5em 3.2em;
	font-size: .8em; 

	cursor: pointer;
	
	//todo:сменить на просто bold
	font-family: 'Proxima Nova Semibold';	
}

.hr{
	width: 80%;
	background-color: #bbb;
}

.mar-bot{
	margin-bottom: 10em;
}

.main-block{
	font-size: 16px;
	&__title{
		margin: 1.2em 0px;
		font-size: 1.5em;
		font-family: 'Proxima Nova Bold';
	}
}

.accent-btn{
	&:hover,&:focus{
		text-decoration: none;
	}	
}

@include adaptive-xl{
	#map{
		height: 400px;
	}
}

@include adaptive-m{
	#map{
		height: 360px;
	}
}

@include adaptive-767{
	#map{
		height: 320px;
	}
}

@include adaptive-480{
	#map{
		height: 240px;
	}
}

@include adaptive-360{
	#map{
		height: 180px;
	}
}