.table-reset{
	th{
		border-top: none !important;
	}	
	th:first-child{
		border-left: none;
	}
	th:last-child{
		border-right: none;
	}

	tr:last-child > td{
		border-bottom: none !important;
	}

	td:first-child{
		border-left: none;
	}
	td:last-child{
		border-right: none;
	}


}